.framer-kyfkZ.framer-t7knpo {
    align-content: center;
    align-items: center;
    background:rgb(242, 242, 242,1); 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1400px;
    min-height: 100vh;

}
.main-uiux{
    background:rgb(242, 242, 242,1); 
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: center;
    max-width: 1400px;
    overflow: hidden;
    padding: 180px 40px 40px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.h2-uiux-content{
  
        --framer-font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
        --framer-font-size: 38px;
        --framer-font-style: normal;
        --framer-font-weight: 400;
        --framer-letter-spacing: 0em;
        --framer-line-height: 1.3em;
        --framer-paragraph-spacing: 0px;
        --framer-text-alignment: start;
        --framer-text-color: var(--token-2a5e3b76-a8c1-4907-a047-960818f39d34, #404040);
        --framer-text-decoration: none;
        --framer-text-transform: none;
  
}
.p-uiux-content{
    --framer-font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    --framer-font-size: 14px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.8em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var(--token-8122382b-8059-4965-b86d-88f5a7814281, #444444);
    --framer-text-decoration: none;
    --framer-text-transform: none;
}
.row-uiux{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
}
.framer-10lbt6j{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    transform: perspective(1200px);
    width: 100%;

}

 .framer-1hzy5e0 {
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    max-width: 440px;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
    z-index: 1;
}
.framer-styles-preset-1n7q7jx{
    --framer-font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    --framer-font-size: 38px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.3em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var(--token-2a5e3b76-a8c1-4907-a047-960818f39d34, #404040);
    --framer-text-decoration: none;
    --framer-text-transform: none;
}
.framer-9nkvw4 {
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre-wrap;
    width: 70%;
    word-break: break-word;
    word-wrap: break-word;
    z-index: 1;
}
.framer-styles-preset-116c5it  {
    --framer-font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    --framer-font-size: 14px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.8em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var(--token-8122382b-8059-4965-b86d-88f5a7814281, #444444);
    --framer-text-decoration: none;
    --framer-text-transform: none;
}
.framer-s3l36j{
    --border-bottom-width: 1px;
    --border-color: var(rgba(255, 255, 255, .65));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    align-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    border-radius: 25px;
    box-shadow: 0 1px 2px #00000026;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height: var(--framer-aspect-ratio-supported, 640px);
    justify-content: center;
    overflow: hidden;
    padding: 40px;
    position: relative;
    width: 1px;
    will-change: var(--framer-will-change-override, transform);
    z-index: 0;
}
.framer-z53hdf{
    align-content: flex-start;
    align-items: flex-start;
    border-radius: 25px;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 40px;
    position: relative;
    width: 1px;
    z-index: 0;
}
@media (max-width: 809px){
   .framer-10lbt6j{
    flex-direction: column;
    gap: 25px;
    transform: unset;
    }
}
@media (max-width: 809px){
    .framer-z53hdf{
        flex: none;
        gap: 35px;
        padding: 25px;
        width: 100%;
     }
 }
 @media (max-width: 809px){
    .framer-s3l36j {
        flex: none;
        height: var(auto, 340px);
        width: 100%;
    }
 }
.framer-ck2l3a{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: center;
    max-width: 1400px;
    overflow: hidden;
    padding: 40px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.framer-mni8ar{
    align-content: flex-start;
    align-items: flex-start;
    border-radius: 25px;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 40px;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
  
}
.framer-vm1q9y{
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.framer-styles-preset-16f9smb{
    --framer-font-size: 30px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.4em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var(#000, #000000);
    --framer-text-decoration: none;
    --framer-text-transform: none;
}
.framer-1uqz5zu{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    transform: perspective(1200px);
    width: 100%;

}
.framer-k45y0p{
    align-content: center;
    align-items: center;
    border-radius: 25px;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 40px;
    position: relative;
    width: 1px;

}
.framer-6xe7pj{
    --border-bottom-width: 1px;
    --border-color: #545454;
    --border-left-width: 0px;
    --border-right-width: 0px;
    --border-style: solid;
    --border-top-width: 0px;
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 0 10px;
    position: relative;
    width: 100%;
}
.framer-uvg59{
    -framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}
.framer-styles-preset-1i3lz8o{
    --framer-font-size: 18px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.7em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var( #000000);
    --framer-text-decoration: none;
    --framer-text-transform: none;
}
.framer-1tmd5c8{
    -framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;

}
.framer-1ox6v90{
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
 .framer-styles-preset-116c5it{
    --framer-font-size: 14px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.8em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var( #444444);
    --framer-text-decoration: none;
    --framer-text-transform: none;
 }
 .framer-92sbj5{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
 }
 .framer-1ikqk20{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: min-content;
 }
 .framer-1u087tb-container{
    flex: none;
    height: auto;
    position: relative;
    width: auto;
 }
 .framer-EuaNR.framer-qbyvnv {
    align-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: auto;
    justify-content: center;
    overflow: visible;
    padding: 10px 35px;
    position: relative;
    width: auto;
}
.framer-EuaNR .framer-19zt0ed {
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
    z-index: 1;
}
.framer-styles-preset-dqgio0{
    --framer-font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    --framer-font-size: 14px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var( #ffffff);
    --framer-text-decoration: none;
    --framer-text-transform: none;
}
.framer-13g9twy{
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;

}
.framer-styles-preset-116c5it{
    -framer-font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    --framer-font-size: 14px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.8em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var(--token-8122382b-8059-4965-b86d-88f5a7814281, #444444);
    --framer-text-decoration: none;
    --framer-text-transform: none;
}
.framer-1eokziv{
    align-content: center;
    align-items: center;
    border-radius: 25px;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 40px;
    position: relative;
    width: 1px;
}
.framer-19u0mfs{
    --border-bottom-width: 1px;
    --border-color: #545454;
    --border-left-width: 0px;
    --border-right-width: 0px;
    --border-style: solid;
    --border-top-width: 0px;
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 0 10px;
    position: relative;
    width: 100%;
}
.framer-xyp1yw{
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.framer-styles-preset-116c5it{
    --framer-font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    --framer-font-size: 14px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.8em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var( #444444);
    --framer-text-decoration: none;
    --framer-text-transform: none;
}
/* .framer-kyfkZ:after, .framer-kyfkZ :after {
    content: "";
    border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
    border-color: var(--border-color, none);
    border-style: var(--border-style, none);
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border-radius: inherit;
    pointer-events: none;
} */

.framer-faudab{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.framer-kyfkZ .framer-j7h43s {
    align-content: center;
    align-items: center;
    border-radius: 25px;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 40px;
    position: relative;
    transform: perspective(1200px);
    width: 100%;
    will-change: var(--framer-will-change-override, transform);
}
.framer-5hsx3o{
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.framer-styles-preset-116c5it{
    --framer-font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    --framer-font-size: 14px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.8em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var(--token-8122382b-8059-4965-b86d-88f5a7814281, #444444);
    --framer-text-decoration: none;
    --framer-text-transform: none;
}
.framer-kyfkZ .framer-hnxb4 {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.framer-1ndn5fl{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.framer-1g3d3ly {
    --border-bottom-width: 1px;
    --border-color: var( rgba(255, 255, 255, .75));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    -webkit-backdrop-filter: blur(5px);
    align-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: var( rgba(255, 255, 255, .2));
    border-radius: 100px;
    box-shadow: inset 0 1px 2px #00000026;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 5px 12px 5px 7px;
    position: relative;
    width: min-content;
    will-change: var(--framer-will-change-override, transform);
}
.framer-19sbeuw-container{
    flex: none;
    height: 16px;
    position: relative;
    width: 16px;
}
.framer-tr81ld{
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
 
}
.framer-styles-preset-116c5it{
    --framer-font-size: 14px;
    --framer-font-style: normal;
    --framer-font-weight: 400;
    --framer-letter-spacing: 0em;
    --framer-line-height: 1.8em;
    --framer-paragraph-spacing: 0px;
    --framer-text-alignment: start;
    --framer-text-color: var(#000, #444444);
    --framer-text-decoration: none;
    --framer-text-transform: none;

 }
 .framer-1g3f6d4{
    --border-bottom-width: 1px;
    --border-color: var(rgba(255, 255, 255, .75));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    -webkit-backdrop-filter: blur(5px);
    align-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: var( rgba(219, 158, 255, .2));
    border-radius: 100px;
    box-shadow: inset 0 1px 2px #00000026;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 5px 12px 5px 7px;
    position: relative;
    width: min-content;
 }
.framer-1jsbga-container{
    flex: none;
    height: 16px;
    position: relative;
    width: 16px;

}
.framer-72jk2i{
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto; 
}
.framer-1au2cer{
    --border-bottom-width: 1px;
    --border-color: var(rgba(255, 255, 255, .75));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    -webkit-backdrop-filter: blur(5px);
    align-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: var( rgba(219, 158, 255, .2));
    border-radius: 100px;
    box-shadow: inset 0 1px 2px #00000026;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 5px 12px 5px 7px;
    position: relative;
    width: min-content;
}
.framer-67wkwc{
    --border-bottom-width: 1px;
    --border-color: var(rgba(255, 255, 255, .75));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    -webkit-backdrop-filter: blur(5px);
    align-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: var( rgba(219, 158, 255, .2));
    border-radius: 100px;
    box-shadow: inset 0 1px 2px #00000026;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 5px 12px 5px 7px;
    position: relative;
    width: min-content;
}
.framer-uw1oe2-container{
    flex: none;
    height: 16px;
    position: relative;
    width: 16px;
}
.framer-widrwa-container{
    flex: none;
    height: 16px;
    position: relative;
    width: 16px;
}
.framer-1e91gnb{
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;

}
.framer-mm61a7{
    --framer-link-text-color: #0099ff;
    --framer-link-text-decoration: underline;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;

}
@media (min-width: 810px) and (max-width: 1399px){
     .framer-ck2l3a {
        gap: 30px;
        order: 8;
        padding: 30px;
    }
}
@media (max-width: 809px){
    .framer-ck2l3a {
        gap: 25px;
        order: 8;
        padding: 25px;
    }
}
@media (min-width: 810px) and (max-width: 1399px){
    .framer-1uqz5zu{
    gap: 30px;
}
}
@media (max-width: 809px){
   .framer-1uqz5zu {
        gap: 25px;
        order: 8;
        padding: 25px;
    }
}
@media (min-width: 810px) and (max-width: 1399px){
   .framer-k45y0p{
        gap: 40px;
    padding: 30px;
    }
}
@media (max-width: 809px){
    .framer-k45y0p {
        flex: none;
        gap: 35px;
        padding: 25px;
        width: 100%;
    }
}
@media (max-width: 809px){
   .framer-1eokziv {
        flex: none;
        gap: 35px;
        padding: 25px;
        width: 100%;
    }
}
@media (min-width: 810px) and (max-width: 1399px){
.framer-1eokziv{
    gap: 40px;
    padding: 30px; 
}
}
@media (max-width: 809px){
    .framer-1eokziv {
        flex: none;
        gap: 35px;
        padding: 25px;
        width: 100%;
    }
}

    @media (min-width: 810px) and (max-width: 1399px){
        .framer-j7h43s{
            gap: 40px;
            padding: 30px; 
        }
        }
        @media (max-width: 809px){
            .framer-j7h43s {
                gap: 35px;
                padding: 25px;
                transform: unset;
            }
        }
        @media (max-width: 809px){
             .framer-hnxb4 {
                gap: 20px;
            }
        }
        @media (min-width: 810px) and (max-width: 1399px){
            .framer-hnxb4 {
                gap: 40px;
                
            }
            }
            @media (max-width: 809px){
            .framer-1ndn5fl, .framer-kyfkZ .framer-13ajprx {
                    align-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 20px;
                    justify-content: flex-start;
                }
            }
